@model MVCBookStore.Models.Admin
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/LoginAdmin/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginAdmin/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginAdmin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginAdmin/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginAdmin/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginAdmin/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginAdmin/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginAdmin/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginAdmin/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginAdmin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/LoginAdmin/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('/Content/LoginAdmin/images/bg-01.jpg');">
            <div class="wrap-login100">
                @using (Html.BeginForm("LoginAdmin", "Accounts", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    
                <form class="login100-form validate-form">
                    <span class="login100-form-logo">
                        <i class="zmdi zmdi-landscape"></i>
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27">
                        Log in
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        @Html.TextBoxFor(model => model.UserName, new { @placeholder = "User Name", @class = "input100" })
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.UserName)
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        @Html.PasswordFor(model => model.Password, new { @placeholder = "Password", @class = "input100" })
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Password)
                    @Html.ValidationSummary(true, "")


                    @*<div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
                Remember me
            </label>
        </div>*@

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Login
                        </button>
                    </div>
                </form>
                }
                </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Content/LoginAdmin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginAdmin/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginAdmin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/LoginAdmin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginAdmin/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginAdmin/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/LoginAdmin/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginAdmin/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginAdmin/js/main.js"></script>

</body>
</html>
